<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<div class="content">
    <!-- Content Row -->
    <div class="row">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Warden</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form class="form-horizontal" method="post"
                              enctype="multipart/form-data" th:object="${warden}">
                            <fieldset>
                                <!-- Form Name -->
                                <legend>ADD WARDEN</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">NAME</label>
                                    <div class="col-md-4">
                                        <input id="name" th:field="*{user.name}" name="name"
                                               class="form-control input-md" type="text" >
                                        <!-- <div class="invalid-feedback" th:each=" error: ${#fields.errors('name')}" th:text="${error}"></div> -->
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="hostel_type">PHONE</label>
                                    <div class="col-md-4">
                                        <input id="mobile" th:field="*{user.mobile}" name="mobile"
                                               class="form-control input-md" type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="no_of_rooms">EMAIL</label>
                                    <div class="col-md-4">
                                        <input id="no_of_rooms" th:field="*{user.email}" name="email"
                                               class="form-control input-md" type="text">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="address">ADDRESS</label>
                                    <div class="col-md-4">
                                        <input id="address" th:field="*{address}" name="address"
                                               class="form-control input-md" type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="annual_exp">GENDER</label>
                                    <div class="col-md-4">
                                        <input id="annual_exp" th:field="*{gender}" name="annual_exp"
                                               class="form-control input-md" type="text">
                                    </div>
                                </div>

                                <!-- Text input-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-4 control-label" for="hostel">HOSTEL ID</label>-->
<!--                                    <div class="col-md-4">-->
<!--                                        <input id="hostel" th:field="*{hostel}" name="hostel"-->
<!--                                               class="form-control input-md" type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="hostel">HOSTEL</label>
                                    <div class="col-md-4">
                                        <select id="hostel" th:field="*{hostel}" name="hostel" class="form-control">
                                            <option th:value="null">-SELECT-</option>
                                            <option th:each="hostel : ${hostels}"
                                                    th:value="${hostel.hostelId}"
                                                    th:text="${hostel.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>

</html>