<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="content">
        <!-- Content Row -->
        <!-- visible by hostellers  -->
        <div class="row" th:if="${#lists.contains(loginInfoRoles, 8)}">
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card(link='#',heading='Earnings (Monthly)', text='$40,000', class='primary', icon='null')"></div>
            
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card(link='#', heading='Earnings (Annual)', text='$215,000', class='success', icon='null')"></div>
            
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card-progress(progress='87')"></div>

            <!-- Pending Requests Card Example -->
            <div th:replace="fragments.html :: card(link='#', heading='Pending Requests', text='20', class='warning', icon='null')"></div>
        </div>
        <!-- visible by wardens -->
        <div class="row" th:if="${#lists.contains(loginInfoRoles, 1) or #lists.contains(loginInfoRoles, 2)}">
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card(link='#',heading='Earnings (Monthly)', text='$40,000', class='primary', icon='null')"></div>
            
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card(link='#', heading='Complain', text='Write Complain', class='success', icon='null')"></div>
            
            <!-- Earnings (Monthly) Card Example -->
            <div th:replace="fragments.html :: card-progress(progress='87')"></div>
            
            <!-- Pending Requests Card Example -->
            <div th:replace="fragments.html :: card(link='#', heading='Make Payment', text='20000', class='warning', icon='null')"></div>
            
        </div>
        <!-- Content Row -->

        <div class="row" th:if="${#lists.contains(loginInfoRoles, 4)}">
            <div class="col-xl-8 col-lg-7">
                <div class="mb-4">
                    <img src="https://source.unsplash.com/1600x900/?'college'"
                                            class="img-thumbnail" alt="...">
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-5">
                <div class="mb-4">
                    
                    <!-- Make Payment Card Example -->
                    <div th:replace="fragments.html :: card-col(link='/payment', heading='Make Payment', text='₹ '+ ${hostellerProfile.dueFeesAmount}, class='warning', icon='null')"></div>
                        
                    <!-- Complain Card Example -->
                    <div th:replace="fragments.html :: card-col(link='#', heading='Complain', text='Write Complain', class='success', icon='null')"></div>
                    
                </div>
            </div>
        </div>

    </div>


</body>

</html>