<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

<div class="content">
  <!-- Content Row -->
  <div class="row">

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->

      <div th:if="${success}" class="text-center alert alert-success">
        <p th:text="${success}"></p>
      </div>
      <div th:if="${failed}" class="mt-1 text-center alert alert-danger">
        <p th:text="${failed}"></p>
      </div>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Manage Hostel</h6>
          <div class="mt-2" th:if="${size==0}">
            <p>No Hostel Found</p>
          </div>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mt-1"><i
                  class="fas fa-sm text-white-50"></i> Add Hostel</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table th:if="${size>0}" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Hostel ID</th>
                <th>Hostel Name</th>
                <th>Hostel Type</th>
                <th>No. of Room</th>
                <th>Address</th>
                <th>Annual Exp</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="hostel : ${hostels}">
                <td th:text="${hostel.hostelId}"></td>
                <td th:text="${hostel.name}"></td>
                <td th:text="${hostel.type}"></td>
                <td th:text="${hostel.noOfRoom}"></td>
                <td th:text="${hostel.address}"></td>
                <td th:text="${hostel.annualExp}"></td>
                <td>
                  <a href="#" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-info-circle"></i>
                  </a>
                  <a href="#" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>


</body>

</html>