<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="content">
        <!-- Content Row -->
        <div class="row">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Hostellers Details</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Hosteller ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Hostel Number</th>
                                        <th>Room Number</th>
                                        <th>Pending Amount</th>
                                        <th>Fees Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each=" h: ${hostellers}" th:id="${h.hostellerId}">
                                        <td th:text="${h.hostellerId}"></td>
                                        <td th:text="${h.name}"></td>
                                        <td th:text="${h.mobile}"></td>
                                        <td th:text="${h.email}"></td>
                                        <td th:text="${h.hostelNumber}"></td>
                                        <td th:text="${h.roomNumber}"></td>
                                        <td th:text="${h.dueFeesAmount}"></td>
                                        <td class="font-weight-bold">
                                            <span  th:if="${h.feesStatus}" class="text-success">Paid</span>
                                            <span  th:unless="${h.feesStatus}" class="text-warning">Pending</span>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-warning btn-circle btn-sm">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </a>
                                            
                                            <button class="btn btn-danger btn-circle btn-sm">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

</body>

</html>