<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<div class="content">
    <!-- Content Row -->
    <div class="row">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->

            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}"></p>
            </div>
            <div th:if="${failed}" class="mt-1 text-center alert alert-danger">
                <p th:text="${failed}"></p>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Manage Hostel</h6>
                        <a th:href="@{/warden_c/add-hostel}"
                           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mt-1"><i
                                class="fas fa-sm text-white-50"></i> Add Hostel</a>
                    </div>
                    <div class="mt-2" th:if="${size==0}">
                        <p>No Hostel Found</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table th:if="${size>0}" class="table table-bordered" id="dataTable" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>Hostel Name</th>
                                <th>Hostel Type</th>
                                <th>No. of Room</th>
                                <th>Address</th>
                                <th>Annual Exp</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="hostel : ${hostels}">
                                <td th:text="${hostel.name}"></td>
                                <td th:text="${hostel.type}"></td>
                                <td th:text="${hostel.noOfRoom}"></td>
                                <td th:text="${hostel.address}"></td>
                                <td th:text="${hostel.annualExp}"></td>
                                <td>
                                    <a th:href="@{/warden_c/update-hostel/{id} (id = ${hostel.hostelId})}"
                                       class="btn btn-warning btn-circle btn-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a class="btn btn-danger btn-circle btn-sm" href="#" data-toggle="modal"
                                       th:data-target="'#deleteHostel'+${hostel.hostelId}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <!-- Delete Modal-->
                                    <div class="modal fade" th:id="'deleteHostel'+${hostel.hostelId}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Ready to Leave?</h5>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Select "Delete" below if you are ready to delete
                                                    this hostel.
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                    <a class="btn btn-primary"
                                                       th:href="@{/warden_c/delete-hostel/{id} (id = ${hostel.hostelId})}">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


</body>

</html>