<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">

        <div class="row">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Manage Profile</h6>
                        <span th:text="${#lists.contains(loginInfoRoles, 4)}"></span>
                    </div>
                    <div class="card-body">

                        <div th:if="${#lists.contains(loginInfoRoles, 4)}">
                            <form class="form-horizontal" method="post" th:object="${hostellerProfile}">
                                <div class="row">
                                    <div class="col-md-2 overflow-hidden">
                                        <img src="https://source.unsplash.com/1600x900/?'passport size photo for dp'"
                                            class="img-thumbnail" alt="...">
                                        <input type="file">
                                    </div>
                                    <div class="col-md-10">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <div class="row justify-content-around">
                                                <div class="col-md-3">
                                                    <label class="control-label" for="name">Hosteller Name</label>
                                                    <input id="name" name="name" class="form-control input-md"
                                                        type="text" th:field="*{user.name}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="hostellerId">Hosteller Id</label>
                                                    <input id="hostellerId" name="hostellerId" class="form-control input-md"
                                                        type="text" th:field="*{hostellerId}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="email">Email</label>
                                                    <input id="email" name="email" class="form-control input-md"
                                                        type="text" th:field="*{user.email}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="mobile">Mobile</label>
                                                    <input id="mobile" name="mobile"
                                                        class="form-control input-md" type="text"
                                                        th:field="*{user.mobile}">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-around">
                                                <div class="col-md-3">
                                                    <label class="control-label" for="identityType">Identity Type</label>
                                                    <input id="identityType" name="identityType" class="form-control input-md"
                                                        type="text" th:field="*{identityType}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="identityNumber">Identity
                                                        Number</label>
                                                    <input id="identityNumber" name="identityNumber"
                                                        class="form-control input-md" type="text"
                                                        th:field="*{identityNumber}">
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="control-label" for="hostelNumber">Hostel Number</label>
                                                    <input id="hostelNumber" name="hostelNumber"
                                                        class="form-control input-md" type="text"
                                                        th:field="*{hostelNumber}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="roomNumber">Room Number</label>
                                                    <input id="roomNumber" name="roomNumber" class="form-control input-md"
                                                        type="text" th:field="*{roomNumber}">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="control-label" for="address">Address</label>
                                                    <input id="address" name="address"
                                                        class="form-control input-md" type="text" th:field="*{address}">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="entryDate">Entry Date</label>
                                                    <input id="entryDate" name="entryDate"
                                                        class="form-control input-md" type="text"
                                                        th:field="*{entryDate}">
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Update Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>