<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">
<!-- <html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base.html :: layout(.content)"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <!-- Content Row -->
        <div class="row">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${failed}" class="mt-1 text-center alert alert-danger">
                    <p th:text="${failed}"></p>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Make Payment</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div th:if="${#lists.contains(loginInfoRoles, 1)}">i don't know what to put here</div>
                                <div th:if="${#lists.contains(loginInfoRoles, 4)}">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Amount Due</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Hostel Fee <br>
                                                Mess Charges <br> 2022-2023
                                            </td>
                                            <td>Hostel No: <span th:text="${hostellerProfile.hostelNumber}"></span> <br>
                                                Double Seater [Bath] <br>
                                                (Room No: <span th:text="${hostellerProfile.roomNumber}"></span>) <br>
                                                Total : ₹ <span th:text="${hostellerProfile.totalFeesAmount}"></span></td>
                                            <td>₹ <span th:text="${hostellerProfile.dueFeesAmount}"></span></td>
                                          </tr>
                                          <tr>
                                            <th scope="row"></th>
                                            <td>Total Amount</td>
                                            <td>₹ <span th:text="${hostellerProfile.dueFeesAmount}"></span></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                            <form class="form-horizontal col-md-7" method="post" th:object="${paymentInfo}">
                                <!-- Text input-->
                                <div class="form-group">
                                    <div class="row justify-content-around">
                                        <div class="col-md-4" th:if="${#lists.contains(loginInfoRoles, 1) or #lists.contains(loginInfoRoles, 2)}">
                                            <label class="control-label" for="hostellerId">Hosteller id</label>
                                            <input id="hostellerId" name="hostellerId" class="form-control input-md" type="text"
                                                th:field="*{hostellerId}">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="amount">Amount to pay</label>
                                            <input id="amount" name="amount" class="form-control input-md"
                                            type="number"  th:value="${#lists.contains(loginInfoRoles, 4)} ? ${hostellerProfile.dueFeesAmount} : *{amount}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="row text-center">
                                        <div class="col-4">
                                            <input style="display: none;" th:if="${#lists.contains(loginInfoRoles, 4)}" id="hostellerId" type="number" th:value="${hostellerProfile.hostellerId}">
                                        </div>
                                        <div class="col-4">
                                            <button type="button" onclick="paymentStart()" id="rzp-button" class="btn btn-block btn-primary">Pay</button>
                                        </div>
                                        <div class="col-4">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script th:inline="javascript">
            var userProfile = {name: [[${hostellerProfile.user.name}]], email: [[${hostellerProfile.user.email}]],contact: [[${hostellerProfile.user.mobile}]]};
        </script>
        <script src="js/custom/payment.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </div>
</body>
</html>