<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: .content})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <!-- Content Row -->
    <div class="row">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form class="form-horizontal" method="post"
                              enctype="multipart/form-data" th:object="${passwords}">
                            <fieldset>
                               
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Old Password</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" class="form-control input-md"
                                         required type="text" th:field="*{oldPassword}">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="hostel_type">New Password</label>
                                    <div class="col-md-4">
                                        <input id="hostel_type" required name="hostel_type" class="form-control input-md" 
                                        type="text" th:field="*{newPassword}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="hostel_type">Comfirm New Password !</label>
                                    <div class="col-md-4">
                                        <input id="hostel_type" required name="hostel_type" class="form-control input-md"
                                         type="text" th:field="*{confirmPassword}">
                                    </div>
                                </div>

                            </fieldset>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>